body {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
}

.app {
  display: flex;
  align-content: space-between;
  justify-content: space-between;
  min-height: 100vh;
  width: 100vw;
}

.components {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  height: 100%;
  transform: scale(90%);
}

.components div:nth-child(2) {
  align-self: center;
  justify-self: center;
}

.counter {
  background-color: #2e2e2e;
  text-align: center;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dark {
  height: 100px;
  width: 100px;
}

.Age {
  background-color: #f58080;
  text-align: center;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.textfiled {
  background-color: #7f87cd;
  text-align: center;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text {
  padding: 10px;
}

.checkbox {
  background-color: #493a44;
  text-align: center;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.cb {
  transform: scale(3);
}

.form {
  background-color: #5e740a;
  text-align: center;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
}

.light-mode {
  background-color: white;
  transition: background-color 0.5s;
}

.dark-mode {
  background-color: black;
  transition: background-color 0.5s;
}

button {
  border-radius: 28px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1.2em;
  font-weight: 600;
  background-color: #209987;
  color: white;
  margin: 10px;
}

button:hover {
  background-color: rgb(6, 101, 74);
  transition: 0.5s;
}



@media (max-width: 1024px) {
  .components {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
    transform: scale(90%);
  }
}

@media (max-width: 768px) {
  .components {
    grid-template-columns: 1fr;
    grid-gap: 1.5em;
    transform: scale(90%);
  }
}